body {
    background-color: #E6E6FA;
}
header {
    font-size: 50px;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
}

.nav-wrapper {
    background-color: #191970;
}

#martini {
    font-size: 50px;
    margin-left: 10px;
}
#htmlNames {
    font-size: 15px;
}

#search {
    background-color: #191970;
    color: white
}

.list{
    display: flex;
    justify-content: space-around;
}
.row{
    display: flex;
}
​
.col{
    border-radius: 10px;
    border: solid;
    margin-right: 30px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 5px 10px #888888;
}
.col img{
    margin-top: 10px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}
​
.col p{
    width: 50%;
}
​
img{
    border-radius: 25px;
}
​
.results{
    width: 500px;
    padding-left: 200px;
}
​
.result-header{
    font-family: Century Gothic;
    margin-bottom: 0;
}

#listOfCocktails li {
    margin-left:  15px;
    display: inline-block;
}



/* .flipTheCard{
    transform: rotateY(180deg);
} */


/* .ingredientBtn{
    font-family: Century Gothic;
    background-color: #EE6E73;
    color: white;
    border-radius: 10px;
    height: 30px;
    border-color: transparent;
    transition: all 0.2s ease-in-out;
    top: 0;
    position: relative;
}
.ingredientBtn:hover{
    top: -3px;
    cursor: pointer;
} */




.flip-card {
    margin:auto ;
    font-family: Century Gothic;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    border-radius: 25px;
    color: black;
}
/* Style the back side */
.flip-card-back {
    border-radius: 25px;
    background-color: #EE6E73;
    color: white;
    transform: rotateY(180deg);
    overflow: hidden;
    height: 300px;
}
/* Ingredients List (with measurements)*/
.ingredientList{
    display: flex;
}
.ingredient{
    margin-right: 10px;
}
  /* End of Ingredients List */

.instructions{
    font-size: 15px;
}

.save-btn {
    width: 50px;
    font-size: 20px;
    background-color:white;
    border-radius: 10px;
    
}

#heart {
    color: rgb(243, 162, 207)
}