body {
    background-color: #E6E6FA;
}
header {
    font-size: 50px;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
}

.nav-wrapper {
    background-color: #191970;
}

#martini {
    font-size: 50px;
    margin-left: 10px;
}

.list{
    display: flex;
    justify-content: space-around;
}
.row{
    display: flex;
}
​
.col{
    border-radius: 10px;
    border: solid;
    margin-right: 30px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 5px 10px #888888;
}
.col img{
    margin-top: 10px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}
​
.col p{
    width: 50%;
}
​
img{
    border-radius: 25px;
}
​
.results{
    width: 500px;
    padding-left: 200px;
}
​
.result-header{
    font-family: Century Gothic;
    margin-bottom: 0;
}

