body {
    background-color: #E6E6FA;
}

.nav-wrapper {
    background-color: #191970;
}

.material-icons {
    margin-left: 10px;
}

body {
    background-color: #E6E6FA;
}
.nav-wrapper {
    background-color: #191970;
}
.material-icons {
    margin-left: 10px;
}
